body {
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  color: black
  
}

h1 {
  color: #1B6076;
  text-align: center;
}


h3 {
  color: #1B6076;
  text-align: center;

}

button {
  color: #1B6076;
  background-color: transparent;
  border: 1px solid #1B6076;
  border-radius: 5px;
  text-align: center;
  padding: 12px 28px;
}

* {
  box-sizing: border-box;
  font-family: 'Roboto', cursive;
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(../assets/fonts/Roboto/Roboto-Regular.ttf) format('truetype');
}


/*==========header==========*/

/* .container {
  position: absolute;
  width: 1440px;
  height: 795px;
  background: #BCDED8;
} */

.section {
  display: block;
  background: #BCDED8;
}

.logo_wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 1;
  padding-left: 34px;
  padding-top: 15px;
}

.logo_text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0A473E;
}  

.user_wrapper {
  height: 100%;
  width: 92px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}

.user {
  display: flex;
  align-items: center;
  width: 60px;
  height: 25px;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 135.94%;
  color: #0A473E;
}

.avatar {
display: flex;
width: 24px;
height: 24px;
border-radius: 15px;
background: #1B6076;
padding-right: 10px;
}


/*==========section1==========*/

.header_wrapper {
  background: #FFFFFF;
  top: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
 align-items: baseline;
 position: fixed;
 z-index: 100;
}

.menu {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  position: absolute;
  width: 309px;
  height: 23px;
  left: 565px;
  top: 20px;
  margin-bottom: 8px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-top: 10px;
}

.title_wrapper {
  display: flex;
  width: 792px;
  height: 160px;
  z-index: 13;
  margin: 70px auto 32px;
  flex-direction: column;
  border-radius: 15px;

}

footer {
}



/*==========card==========*/

.cards_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 420px;
  margin: 40px auto;
  max-width: 900px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 270px;
  height: 420px;
  background: #FFFFFF;
  border-radius: 15px;
  z-index: 12;
  text-align: center;
}

.info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
}

.image {
  display: flex;
  width: 54px;
  height: 54px;
  background: #aaaaaa;
  border-radius: 35px;
  z-index: 12;
  margin: 30px 0 18px;
  border: 1px solid #aaaaaa;
  background-image: url(../assets/images/khaylayty-06.png);
}

.card_title {
  display: flex;
  z-index: 12;
  padding: 0 0 30px;
  font-size: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #1B6076;

}

.card_subtitle {
  display: flex;
  z-index: 12;
  padding: 0 0 30px;
  font-size: 14px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #1B6076;

}

.card_features {
  display: flex;
  max-width: 120px;
  padding: 0 0 30px;
  
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 34px;
  /* or 243% */

  text-align: center;

  color: rgba(27, 96, 118, 0.54);

}

.card_button_wrapper {
 margin: auto;
}
