.logo_text {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 28px;
  text-transform: uppercase;
  color: #0A473E;
  display: inline-block;
  position: relative;
  bottom: -3px;
}

.nav-user {
  display: inline-flex;
  align-items: center;
}

.nav-avatar {
  width: 30px;
  height: 30px;
  border-radius: 100vw;
}

.nav-username {
  display: inline-block;
  font-size: 14px;
  padding-left: 8px;
}

.nav-user-link {
  display: flex;
  align-items: center;
}

.nav-user-link:after {
  margin-bottom: -4px;
  margin-left: 6px;
}

.navbar-right {
  margin-right: 0 !important;
}


.shopping-cart-btn {
  display: flex;
  padding-top: 0;
}

#shopping-cart {
  margin-top: 30%;
}
#shopping-cart-count {
  background-color:#BCDED8;
  margin-top: 10%;
  font-size: 17px;
  border-radius: 25px;
  height: 25px;
  width: 25px;
}


.card_title {
  display: flex;
  z-index: 12;
  padding: 0 0 30px;
  font-size: 20px;

  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  /* identical to box height */

  display: flex;
  align-items: center;
  text-align: center;

  color: #1B6076;

}

.image {
  display: flex;
  width: 54px;
  height: 54px;
  background: #aaaaaa;
  border-radius: 35px;
  z-index: 12;
  margin: 30px 0 18px;
  border: 1px solid #aaaaaa;
  background-image: url(../assets/images/khaylayty-06.png);
}

.card_subtitle {
  display: flex;
  z-index: 12;
  padding: 0 0 30px;
  font-size: 14px;

  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  /* or 171% */

  display: flex;
  align-items: center;
  text-align: center;

  color: #1B6076;
}

.card-product {
  padding: 0 12px 24px;
  height: 400px;
}


.info_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-height: 100px;
}


.card_button_wrapper {
  margin: 12px auto 0;
}

.cards-wrapper {
}

.cards-section {
  padding: 120px 0 56px;
  background: #BCDED8;
}
.footer_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 30px 0;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}